﻿@model Pizzeria.ASP.Models.ProductModel
@*@model Tuple<Pizzeria.ASP.Models.ProductModel, Pizzeria.ASP.Models.CategoryModel>*@

<h2>Ajouter nouveau produit</h2>

@*pour fichier => enctype*@
<form action="#" method="post" enctype="multipart/form-data">

    <input class=" form-control" type="text" name="Name" value="@(Model?.Name) " placeholder="Nom" />
    <p> @Html.ValidationMessage("Name")</p>

    @*<input class=" form-control" type="text" name="Description" value="@(Model?.Description)" placeholder="Description" />*@
    <textarea class=" form-control" name="Description">
         @(Model?.Description)
    </textarea>
    <p> @Html.ValidationMessage("Description")</p>

    @*<input class=" form-control" type="text" name="Image" value="@(Model?.Image)" placeholder="Lien de l'image" />
        <p> @Html.ValidationMessage("Image")</p>*@

    <input class=" form-control" type="text" name="Price" value="@(Model?.Price)" />
    <p> @Html.ValidationMessage("Price")</p>


    <select class=" form-control" name="CategoryId">
        @foreach (var item in Model.ListCategory)
        {
            <option value="@item.Id"> @item.Name</option>
        }
    </select>

    <input type="file" name="File" value="" />
    <p> @Html.ValidationMessage("Image")</p>

    <button class="btn btn-success">Save</button>
</form>