﻿@model IEnumerable<Pizzeria.ASP.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des Produits</h2>

@foreach (var item in Model)
{
    <p>
        @item.Name
        <img src="@item.Image" style="width:auto; height: 250px;"/>
        <a class="delete" href="/Product/Delete/@item.Id">
            <span class="glyphicon glyphicon-trash text-danger"></span>
        </a>
    </p>
}

@section scripts {
    <script>
        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("Etes vous sûr de vouloir supprimer cette catégorie ?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
}

@*@foreach (var item in Model)
    {
        <p>Nom : @item.Name</p>
        <p>Categorie : @item.CategoryId</p>
        <p>Prix : @item.Price €</p>
        <img style="height:250px; width:auto;" src="@item.Image" />
        <p>Description : @item.Description</p>
}*@