﻿@model Pizzeria.ASP.Models.ProductModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<select id="select" class="form-control" name="Id">
    @foreach (var item in Model?.ListProduct)
    {
        <option value="@item.Id"> @item.Name</option>
    }
</select>

@* Pas le bon index select. Il faut celui de la value de option. *@
@section scripts
    {
    <script>
        var selectElem = document.getElementById('select');

        selectElem.addEventListener('change', function (e) {
            //var index = selectElem.selectedIndex;
            //var elem = document.querySelector("#select>option:selected");
            //    selectedNode = elem.options[elem.selectedIndex].value;
            let id = e.target.value;

            location.href = "http://localhost:57405/Product/Update/" + id;
        });
    </script>
}

