﻿@model Pizzeria.ASP.Models.ProductModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="#" method="post">

    <input type="text" name="Name" value="@(Model?.Name)" />

    <textarea name="Description" value="@(Model?.Description)">@(Model?.Description)</textarea>

    <input type="text" name="Price" value="@(Model?.Price)" />

    <input type="file" name="File" value="@(Model.Image)"/>
    <p> @Html.ValidationMessage("Image")</p>
    <img src="@Model.Image" style="height:100px; width:auto;" />
</form>