﻿@model Pizzeria.ASP.Models.CategoryModel
@{
    ViewBag.Title = "Créer une nouvelle categorie";
}

<h2>Créer une nouvelle categorie</h2>

<form action="#" method="post">

    <input class="form-control" type="text" name="Name" value="@(Model?.Name)" />
    <p>@Html.ValidationMessage("Name")</p> 
    <button class="btn btn-info">Envoyer</button>
</form>


