﻿@model Pizzeria.ASP.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="#" method="post">

<input type="text" name="LastName" value="@(Model?.LastName)" />

<input type="text" name="FirstName" value="@(Model?.FirstName)" />

<input type="email" name="Email" value="@(Model?.Email)" />

<input type="password" name="PlainPassword" />

<input type="password" name="ConfirmPassword" />

<button>S'enregistrer</button>

</form>
